.body {
	background: #000;
	min-height: 100vh;
	gap: 0.5rem;
	padding: 0.5rem;
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 1fr auto;
	grid-template-areas:
		"sidebar content content"
		"player player player";
}

.body > * {
	border-radius: 0.5rem;
}

.cardContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	grid-template-rows: 1fr;
}

.cardContainerTwo {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-template-rows: 1fr;
}

.searchContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.fadeButton {
	transition: opacity 0.5s ease-in-out;
	position: absolute;
	bottom: 24px;
	right: 5px;
	background-color: green;
	padding: 8px;
	border-radius: 50%;
	opacity: 0; /* Default state */
}

.fadeButtonHide {
	opacity: 0;
	visibility: hidden;
}

.fadeButtonShow {
	opacity: 1;
}
